In [31]:
#importing libraries
import numpy as np
import pandas as pd

In [36]:
books = pd.read_csv('Books.csv',encoding='latin-1')
ratings = pd.read_csv('Ratings.csv', encoding='latin-1')
users = pd.read_csv('Users.csv', encoding='latin-1')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

## Data Cleaning

### Books dataframe

In [37]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [38]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [39]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

#### Checking shape of all dataframes

In [40]:
books.shape

(271360, 8)

In [41]:
users.shape

(278858, 3)

In [42]:
ratings.shape

(1149780, 3)

#### Checking for null values

In [49]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [50]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [51]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

#### Checking for duplicates

In [52]:
books.duplicated().sum()

0

In [53]:
users.duplicated().sum()

0

In [54]:
users.duplicated().sum()

0

#### Locating null values in books

In [57]:
def get_null_indexes(obj,val):
    pos = []
    result = obj.isin([val])
    series = result.any()
    col_names = list(series[series == True].index)
    
    for col in col_names:
        rows = list(result[col][result[col] == True].index)
        for row in rows:
            pos.append((row,col))
    return pos

In [58]:
pos = get_null_indexes(books,np.nan)
print('Index positions of NaN in books : ')
for i in range(len(pos)):
    print(pos[i])

Index positions of NaN in books :
(187689, 'Book-Author')
(128890, 'Publisher')
(129037, 'Publisher')
(209538, 'Image-URL-L')
(220731, 'Image-URL-L')
(221678, 'Image-URL-L')

#### Checking obtained null values indexes

In [59]:
books.iloc[187689]

ISBN                                                          9627982032
Book-Title             The Credit Suisse Guide to Managing Your Perso...
Book-Author                                                          NaN
Year-Of-Publication                                                 1995
Publisher                                 Edinburgh Financial Publishing
Image-URL-S            http://images.amazon.com/images/P/9627982032.0...
Image-URL-M            http://images.amazon.com/images/P/9627982032.0...
Image-URL-L            http://images.amazon.com/images/P/9627982032.0...
Name: 187689, dtype: object

In [60]:
books.iloc[128890]

ISBN                                                          193169656X
Book-Title                                                   Tyrant Moon
Book-Author                                              Elaine Corvidae
Year-Of-Publication                                                 2002
Publisher                                                            NaN
Image-URL-S            http://images.amazon.com/images/P/193169656X.0...
Image-URL-M            http://images.amazon.com/images/P/193169656X.0...
Image-URL-L            http://images.amazon.com/images/P/193169656X.0...
Name: 128890, dtype: object

In [61]:
books.iloc[129037]

ISBN                                                          1931696993
Book-Title                                               Finders Keepers
Book-Author                                              Linnea Sinclair
Year-Of-Publication                                                 2001
Publisher                                                            NaN
Image-URL-S            http://images.amazon.com/images/P/1931696993.0...
Image-URL-M            http://images.amazon.com/images/P/1931696993.0...
Image-URL-L            http://images.amazon.com/images/P/1931696993.0...
Name: 129037, dtype: object

In [62]:
books.iloc[209538]

ISBN                                                          078946697X
Book-Title             DK Readers: Creating the X-Men, How It All Beg...
Book-Author                                                         2000
Year-Of-Publication                                    DK Publishing Inc
Publisher              http://images.amazon.com/images/P/078946697X.0...
Image-URL-S            http://images.amazon.com/images/P/078946697X.0...
Image-URL-M            http://images.amazon.com/images/P/078946697X.0...
Image-URL-L                                                          NaN
Name: 209538, dtype: object

In [63]:
books.iloc[220731]

ISBN                                                          2070426769
Book-Title             Peuple du ciel, suivi de 'Les Bergers\";Jean-M...
Book-Author                                                         2003
Year-Of-Publication                                            Gallimard
Publisher              http://images.amazon.com/images/P/2070426769.0...
Image-URL-S            http://images.amazon.com/images/P/2070426769.0...
Image-URL-M            http://images.amazon.com/images/P/2070426769.0...
Image-URL-L                                                          NaN
Name: 220731, dtype: object

In [64]:
books.iloc[221678]

ISBN                                                          0789466953
Book-Title             DK Readers: Creating the X-Men, How Comic Book...
Book-Author                                                         2000
Year-Of-Publication                                    DK Publishing Inc
Publisher              http://images.amazon.com/images/P/0789466953.0...
Image-URL-S            http://images.amazon.com/images/P/0789466953.0...
Image-URL-M            http://images.amazon.com/images/P/0789466953.0...
Image-URL-L                                                          NaN
Name: 221678, dtype: object

#### Adding values to missing values of book author and publisher

In [65]:
books.at[187689, 'Book-Author'] = 'Larissa Anne Downes, Editor'
books.at[128890, 'Publisher'] = 'CreateSpace Independent Publishing Platform'
books.at[129037, 'Publisher'] = 'NovelBooks Inc'

#### Shifting and correcting missing values of remaining 3 indexes

In [67]:
books.iloc[209538] = books.iloc[209538].shift()
books.at[209538, 'ISBN'] = '078946697X'
books.at[209538, 'Book-Title'] = 'DK Readers: The Story of the X-Men, How It All Began (Level 4: Proficient Readers)'
books.at[209538, 'Book-Author'] = 'Michael Teitelbaum'
books.at[209538, 'Publisher'] = 'DK Publishing Inc'
books.iloc[209538]

ISBN                                                          078946697X
Book-Title             DK Readers: The Story of the X-Men, How It All...
Book-Author                                           Michael Teitelbaum
Year-Of-Publication                                                 2000
Publisher                                              DK Publishing Inc
Image-URL-S            http://images.amazon.com/images/P/078946697X.0...
Image-URL-M            http://images.amazon.com/images/P/078946697X.0...
Image-URL-L            http://images.amazon.com/images/P/078946697X.0...
Name: 209538, dtype: object

In [69]:
books.iloc[220731] = books.iloc[220731].shift()
books.at[220731, 'ISBN'] = '2070426769'
books.at[220731, 'Book-Title'] = 'Peuple du ciel suivi de les Bergers'
books.at[220731, 'Book-Author'] = 'Jean-Marie Gustave'
books.at[220731, 'Publisher'] = 'Gallimard'
books.iloc[220731]

ISBN                                                          2070426769
Book-Title                           Peuple du ciel suivi de les Bergers
Book-Author                                           Jean-Marie Gustave
Year-Of-Publication                                                 2003
Publisher                                                      Gallimard
Image-URL-S            http://images.amazon.com/images/P/2070426769.0...
Image-URL-M            http://images.amazon.com/images/P/2070426769.0...
Image-URL-L            http://images.amazon.com/images/P/2070426769.0...
Name: 220731, dtype: object

In [70]:
books.iloc[221678] = books.iloc[221678].shift()
books.at[221678, 'ISBN'] = '2070426769'
books.at[221678, 'Book-Title'] = 'DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)'
books.at[221678, 'Book-Author'] = 'James Buckley'
books.at[221678, 'Publisher'] = 'DK Publishing Inc'
books.iloc[221678]

ISBN                                                          2070426769
Book-Title             DK Readers: Creating the X-Men, How Comic Book...
Book-Author                                                James Buckley
Year-Of-Publication                                                 2000
Publisher                                              DK Publishing Inc
Image-URL-S            http://images.amazon.com/images/P/0789466953.0...
Image-URL-M            http://images.amazon.com/images/P/0789466953.0...
Image-URL-L            http://images.amazon.com/images/P/0789466953.0...
Name: 221678, dtype: object

#### Finding year errors and handling them

In [77]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271360 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271360 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271360 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [104]:
print(sorted(books['Year-Of-Publication'].unique()))

['0', '1376', '1378', '1806', '1897', '1900', '1901', '1902', '1904', '1906', '1908', '1909', '1910', '1911', '1914', '1917', '1919', '1920', '1921', '1922', '1923', '1924', '1925', '1926', '1927', '1928', '1929', '1930', '1931', '1932', '1933', '1934', '1935', '1936', '1937', '1938', '1939', '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2008', '2010', '2011', '2012', '2020', '2021', '2024', '2026', '2030', '2037', '2038', '2050']

In [98]:
year_zero_positions = get_null_indexes(books, '0')

In [99]:
print('Number of records with zero year : ',len(year_zero_positions))

Number of records with zero year :  4618

In [100]:
year_2050_positions = get_null_indexes(books, '2050')

In [102]:
print('Number of records with 2050 year : ',len(year_2050_positions))

Number of records with 2050 year :  2

In [105]:
year_2038_positions = get_null_indexes(books, '2038')

In [106]:
print('Number of records with 2038 year : ',len(year_2038_positions))

Number of records with 2038 year :  1

In [107]:
year_2037_positions = get_null_indexes(books, '2037')

In [108]:
print('Number of records with 2037 year : ',len(year_2037_positions))

Number of records with 2037 year :  1

In [111]:
year_2030_positions = get_null_indexes(books, '2030')

In [112]:
print('Number of records with 2030 year : ',len(year_2030_positions))

Number of records with 2030 year :  7

In [113]:
year_2026_positions = get_null_indexes(books, '2026')

In [114]:
print('Number of records with 2026 year : ',len(year_2026_positions))

Number of records with 2026 year :  1

In [109]:
year_2024_positions = get_null_indexes(books, '2024')

In [110]:
print('Number of records with 2024 year : ',len(year_2024_positions))

Number of records with 2024 year :  2

In [115]:
total_year_errors = year_2024_positions + year_2026_positions + year_2030_positions + year_2037_positions + year_2038_positions + year_2050_positions + year_zero_positions

In [118]:
print('Number of records with year error  : ',len(total_year_errors))

Number of records with year error  :  4632

In [119]:
# Drop all entries with incorrect Year-of-Publication dates
books = books[books['Year-Of-Publication'] != '0']
books = books[books['Year-Of-Publication'] != '2050']
books = books[books['Year-Of-Publication'] != '2038']
books = books[books['Year-Of-Publication'] != '2037']
books = books[books['Year-Of-Publication'] != '2030']
books = books[books['Year-Of-Publication'] != '2026']
books = books[books['Year-Of-Publication'] != '2024']

In [120]:
books['Year-Of-Publication'] = books['Year-Of-Publication'].astype('int32')

In [121]:
books_without_url = books.drop(books.iloc[:,5:8],axis=1)

In [122]:
books_without_url.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [123]:
books.to_csv('books_with_url.csv')
books_without_url.to_csv('books_without_url')

### Users dataframe

In [125]:
print(sorted(users['Age'].unique()))

[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 113.0, 114.0, 115.0, 116.0, 118.0, 119.0, 123.0, 124.0, 127.0, 128.0, 132.0, 133.0, 136.0, 137.0, 138.0, 140.0, 141.0, 143.0, 146.0, 147.0, 148.0, 151.0, 152.0, 156.0, 157.0, 159.0, 162.0, 168.0, 172.0, 175.0, 183.0, 186.0, 189.0, 199.0, 200.0, 201.0, 204.0, 207.0, 208.0, 209.0, 210.0, 212.0, 219.0, 220.0, 223.0, 226.0, 228.0, 229.0, 230.0, 231.0, 237.0, 239.0, 244.0]

In [126]:
len(users)

278858

In [127]:
users['Age'].isna().sum()

110762

#### Replacing ages with values beelow 5 and above 90 with NaN

In [131]:
users.loc[(users['Age'] > 90) | (users['Age'] < 5), 'Age'] = np.nan

In [132]:
users['Age'].isna().sum()

112074

#### Taking mean of age and replacing null values with mean

In [133]:
users['Age'].mean()

34.72384041634689

In [134]:
users['Age'].fillna(users['Age'].mean(), inplace=True)

In [135]:
users['Age'] = users['Age'].astype('int32')

In [137]:
print(sorted(users['Age'].unique()))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

In [138]:
users['Age'].isna().sum()

0

#### Checking for n/a n/a n/a string in location and handling it

In [139]:
na_positions = get_null_indexes(users, 'n/a, n/a, n/a')
print('Index positions of n/a, n/a, n/a in users : ')
for i in range (len(na_positions)):
    print(na_positions[i])

Index positions of n/a, n/a, n/a in users :
(3095, 'Location')
(10646, 'Location')
(11675, 'Location')
(61592, 'Location')
(70062, 'Location')
(86150, 'Location')
(119402, 'Location')
(123570, 'Location')
(184324, 'Location')
(238301, 'Location')
(271681, 'Location')

In [140]:
len(na_positions)

11

In [141]:
len(users)

278858

In [142]:
#dropping rows with n/a n/a n/a string
users = users[users['Location'] != 'n/a, n/a, n/a']

In [143]:
len(users)

278847

In [144]:
users.to_csv('users_cleaned')

### Ratings Dataframe

In [146]:
print(sorted(ratings['Book-Rating'].unique()))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [147]:
len(ratings)

1149780

In [148]:
ratings[ratings['Book-Rating'] == 0].count()

User-ID        716109
ISBN           716109
Book-Rating    716109
dtype: int64

In [149]:
#dropping these rows with 0 value as they add no value to recommendation system
ratings = ratings[ratings['Book-Rating'] != 0]

In [150]:
len(ratings)

433671

In [151]:
ratings.to_csv('ratings_cleaned')